<?php $this -> layout = false;
// debug($array);
?>
<?php echo $this -> Form -> create('Returs', array('id' => 'j-forms-validation', 'class' => 'form-horizontal j-forms')); ?>
			<input type="hidden" value="<?php echo $array['id'];?>|ed" id="edidses">
    <div class="form-group">
        <label class="col-md-6 control-label"><?php echo $array['nama']; ?></label>
        <div class=" col-md-6">
          <?php echo $this -> Form -> input('qty', array('id'=>'edqty','style' => 'width:100%;', 'div' => false, 'class' => 'form-control', 'label' => false, 'value' => $array['jml'], 'type' => 'number', 'min' => '0')); ?>
        </div>
    </div>
