<?php $this -> layout = false;
//debug($array);
?>
<?php echo $this -> Form -> create('Pembelians', array('id' => 'j-forms-validation', 'class' => 'form-horizontal j-forms')); ?>
<?php echo $array['nama']; ?>
<div class="form-group">
	<table class="table">
		<tr><th>Qty</th><th>Harga</th><th>Diskon</th></tr>
	</table>
                                    <!-- <div class=" col-md-4 unit">
                                        <?php echo $this -> Form -> input('id_product', array('class' => 'form-control', 'label' => false)); ?>
                                    </div> -->
                                    <input type="hidden" value="<?php echo $array['id'];?>|ed" id="edidses">
                                    <div class="col-md-3 unit " style="margin-right: -20px">
                                        <?php echo $this -> Form -> input('qty', array('id'=>'edqty','style' => 'width:90%;', 'div' => false, 'class' => 'form-control', 'label' => false, 'value' => $array['jml'], 'type' => 'number', 'min' => '0')); ?>
                                    </div>
                                    <div class="col-md-5 unit"  style="margin-right: -45px">
                                        <?php echo $this -> Form -> input('harga', array('id'=>'edharga','style' => 'width:80%;margin-right:-10px;', 'div' => false, 'class' => 'col-xs-2 form-control', 'label' => false, 'value' => $array['harga'], 'type' => 'number', 'min' => '0')); ?>
                                    </div>
							        <div class="col-md-4 input select " style="margin-right: -89px">
							            <?php echo $this -> Form -> input('disdepan', array('options' => array("1" => "%", "2" => "Rp"), 'min' => 0, 'style' => 'width:45	%;margin-right:-10px;', 'div' => false, 'id' => 'edtipedis', 'selected' => $array['discitem'], 'class' => 'form-control', 'label' => false)); ?>
							        </div>         
							        <div class="col-md-4 unit" >
                                        <?php echo $this -> Form -> input('disc', array('id'=>'eddisc','style' => 'width:100%;margin-right:-10px;', 'div' => false, 'class' => 'col-xs-2 form-control', 'label' => false, 'value' => $array['potitem'], 'type' => 'number', 'min' => '0')); ?>
 
 
                                </div>
	  <div class="modal-footer">
        <div class=" col-md-12 unit">
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" id="simpanedit">Simpan</button>
		</div>     
      </div>


<script type="text/javascript">
  
      $('#simpanedit').on('click', function () {
      		// var norandom = $("#norandsom").val();
	        var id = $('#edidses').val();
	        var qty = $('#edqty').val();
	        var harga = $('#edharga').val();
	        var tipedis = $('#edtipedis').val();
	        var diskon = $('#eddisc').val();
	            $.ajax({
	                type: "POST",
	                url: "<?php echo $this -> webroot; ?>pembelians/cart",
       				data: {idp : id,jml :qty,harga :harga,tipe :tipedis,potitem :diskon,discitem :tipedis },
		            success: function (html) {
	                   $("#isi_cart").html(html);
	            }
	        });
        });
      
</script>