<ul class="list-accordion">
    <li>
    	<?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'zmdi zmdi-home zmdi-hc-fw')) . "<span class='list-label'>Home</span>", array('controller' => 'pages', 'action' => 'home'), array('escape' => false,'class'=>(($this->params['controller']=='pages')&& ($this->params['action']=='display') )?'active' :'' )); ?>  
    	</li>

    <li>
        <a href="#"><i class="zmdi zmdi-dropbox"></i><span class="list-label">Produk</span></a>
        <ul>
            <li> <?php echo $this->Html->link("Kategori Produk", array('controller' => 'Categories', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Categories')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("Produk", array('controller' => 'Products', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Products')&& ($this->params['action']=='index') )?'active' :'')); ?></li>

        </ul>
    </li>
    <li><?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'zmdi zmdi-truck zmdi-accounts-alt')) . "<span class='list-label'>Karyawan</span>", array('controller' => 'karyawans', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='karyawans')&& ($this->params['action']=='index') )?'active' :'')); ?>  </li>
    <li><?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'zmdi zmdi-store zmdi-hc-fw')) . "<span class='list-label'>Vendor</span>", array('controller' => 'Vendors', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Vendors')&& ($this->params['action']=='index') )?'active' :'')); ?>  </li>
    <li>
        <a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i><span class="list-label">Transaksi</span></a>
        <ul>
            <li> <?php echo $this->Html->link("Pembelian", array('controller' => 'Pembelians', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Pembelians')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("Penjualan", array('controller' => 'Penjualans', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Penjualans')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("Penjualan Outstanding", array('controller' => 'bahanbakuses', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='bahanbakuses')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("History Penjualan", array('controller' => 'Penjualans', 'action' => 'histori'), array('escape' => false,'class'=>(($this->params['controller']=='Penjualans')&& ($this->params['action']=='histori') )?'active' :'')); ?></li>
        </ul>
    </li>
    <li><?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'zmdi zmdi-truck')) . "<span class='list-label'>Inventory</span>", array('controller' => 'Products', 'action' => 'stock'), array('escape' => false,'class'=>(($this->params['controller']=='Products')&& ($this->params['action']=='stock') )?'active' :'')); ?>  </li>
    <li><?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'zmdi zmdi-refresh')) . "<span class='list-label'>Retur</span>", array('controller' => 'Returs', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Returs')&& ($this->params['action']=='index') )?'active' :'')); ?>  </li>
     <!-- <li>
        <a href="#"><i class="zmdi zmdi-file-text"></i><span class="list-label">Laporan</span></a>
        <ul>
            <li> <?php echo $this->Html->link("Laba Rugi", array('controller' => 'Products', 'action' => 'LabaRugi'), array('escape' => false,'class'=>(($this->params['controller']=='pages')&& ($this->params['action']=='display') )?'active' :'')); ?></li>
        </ul>
    </li>  -->
    <li>
        <a href="#"><i class="zmdi zmdi-settings zmdi-hc-fw"></i><span class="list-label">Pengaturan</span></a>
        <ul>
            <li> <?php echo $this->Html->link("Role", array('controller' => 'Groups', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Groups')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("User", array('controller' => 'Users', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Users')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("Merk", array('controller' => 'Merks', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Merks')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("Bank", array('controller' => 'Banks', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Banks')&& ($this->params['action']=='index') )?'active' :'')); ?></li>

        </ul>
    </li>

</ul>