<ul class="list-accordion">
     <li>
        <a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i><span class="list-label">Transaksi</span></a>
        <ul>
            <!--<li> <?php // echo $this->Html->link("Penjualan", array('controller' => 'Penjualans', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='Penjualans')&& ($this->params['action']=='index') )?'active' :'')); ?></li>-->
            <li> <?php echo $this->Html->link("Penjualan Outstanding", array('controller' => 'bahanbakuses', 'action' => 'index'), array('escape' => false,'class'=>(($this->params['controller']=='bahanbakuses')&& ($this->params['action']=='index') )?'active' :'')); ?></li>
            <li> <?php echo $this->Html->link("History Penjualan", array('controller' => 'Penjualans', 'action' => 'histori'), array('escape' => false,'class'=>(($this->params['controller']=='Penjualans')&& ($this->params['action']=='histori') )?'active' :'')); ?></li>
        </ul>
    </li>
</ul>