<?php //echo $this -> Html -> link($this -> Html -> tag('i', '', array('class' => 'fa fa-cart-plus')) . "&nbsp;<span>Cetak</span>", array('action' => ''), array('escape' => false, 'class' => 'btn btn-xs btn-success','id'=>'btnPrint')); 
		echo $this -> Html -> script(array('lib/min/jquery-min'));
		echo $this -> Html -> script(array('lib/jquery.printElement.min'));
	?><!-- <script>
    // window.print();
     window.open('', 'print', 'height=400,width=600');
</script> -->
<script type="text/javascript">
	// $(document).ready(function() {
		// // $("#btnPrint").click(function() {
			// printElem({});
		// // });
// 
	// });
	window.onload = function() { printElem({}); }
	function printElem(options) {
		$('#print').printElement(options);
	}

    </script>
  
<!--<button id="btnPrint" class="btn btn-xs btn-success"><i class="fa fa-print"></i>&nbsp;Cetak</button>-->
<div id="print">
<!-- <div class="section-header" align="right">
</div> -->
<div class="col-md-7">&nbsp;</div>
<div class="col-md-5">
	<table align="right" style="font-size: 14px;">
        <tr>
            <td colspan="3"><h3>Order Yang Harus Dikerjakan</h3></td>
            </tr>
            <tr>
            <td><b>No Order</b></td>
            <td>:</td>
            <td><?php echo $data[0]['penjualans']['noorder'];?></td>
        </tr>
        <tr>
            <td><b>Tanggal Order</b></td>
            <td>:</td>
            <td><?php echo $data[0]['penjualans']['created'];?></td>
        </tr>
        <tr>
            <td><b>Pemberi Order</b></td>
            <td>:</td>
            <td><?php echo $data[0]['karya']['nama'];?></td>
        </tr>
    </table></div>
    <?php // print_r($data); ?>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table style="font-size: 14px">
    <tr>
        <td><b>Nama</b></td>
        <td>:</td>
        <td><?php echo $data[0]['merks']['nama'];?></td>
    </tr>
    <tr>
        <td><b>Merk/Tipe Mobil</b></td>
        <td>:</td>
        <td><?php echo $data[0]['merks']['nama'];?>/<?php echo $data[0]['modele']['nama'];?></td>
    </tr>
    <tr>
        <td><b>No Polisi/Rangka/Mesin</b></td>
        <td>:</td>
        <td><?php echo $data[0]['penjualans']['nopol'];?>/<?php echo $data[0]['penjualans']['norangka'];?>/<?php echo $data[0]['penjualans']['nomesin'];?></td>
    </tr>
    <tr>
        <td><b>Nama Pemilik</b></td>
        <td>:</td>
        <td><?php echo $data[0]['customers']['nama'];?></td>
    </tr>
    <tr>
        <td><b>Alamat</b></td>
        <td>:</td>
        <td><?php echo $data[0]['customers']['alamat'];?></td>
    </tr>
    <tr>
        <td><b>No Telepon</b></td>
        <td>:</td>
        <td><?php echo $data[0]['customers']['hp'];?></td>
    </tr>
    <tr>
        <td><b>Sales</b></td>
        <td>:</td>
        <td><?php if(!empty($data[0]['karyawans']['nama'])){echo $data[0]['karyawans']['nama'];}else{echo "-";}?></td>
    </tr>
    <tr>
        <td><b>Informasi Tambahan</b></td>
        <td>:</td>
        <td><?php if(!empty($data[0]['detail_penjualans']['ket'])){echo $data[0]['detail_penjualans']['ket'];}else{echo "-";}?></td>
    </tr>
    
</table>
    <table class="table" style="width: 500px; font-size: 14px" id="markb">
        <tr id="mark" style="    background-color: gray;">
        <th id="mark" align="left"><b>Bagian</b></th>
        <th id="mark" align="left"><b>Nama Barang</b></th>
        
    </tr>
    <?php foreach ($data as $value): 
//     print_r($value);
        ?>
     
    <tr >
        <td id="mark"><?php echo $value['categories']['kategori'];?></td>
        <td id="mark"><?php echo $value['products']['nama_produk'];?></td>
       
    </tr>
    <?php endforeach;?>
</table>
</div>
				<div class="widget-header block-header clearfix">
					<div class="btn-group btn-group">
				    <?php echo $this -> Html -> link($this -> Html -> tag('i', '', array('class' => 'fa fa-chevron-circle-left ')) . "&nbsp;<span>Penjualan</span>", array('controller' => 'Penjualans', 'action' => 'index'), array('escape' => false, 'class' => 'btn btn-primary')); ?> 
				    <?php echo $this -> Html -> link($this -> Html -> tag('i', '', array('class' => 'fa fa-plus', 'aria-hidden' => true)) . "&nbsp;<span>Tambah Penjualan</span>", array('controller' => 'Penjualans','action'=>'add'), array('escape' => false, 'class' => 'btn btn-info')); ?> 
				     </div>
				</div> 
<!--<a href="<?php echo $this->webroot;?>penjualans/add">Kembali</a>-->


 <style>
@media print 
{
  @page { margin: 0; }
  body  { margin: 1.6cm;font-size:10px; }
	.table {
	    display: table;
	    border-spacing: 2px;
	}
	.row {
	    display: table-row;
	}
	.row > div {
	    display: table-cell;
	    border: solid 1px #ccc;
	    padding: 2px;
	}
    #mark{
      border-top: 1px solid #ddd;
      /*border-bottom: 1px solid #ddd;*/
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 10px;
  }
   #markb{
          padding-top: 10px;
           border-bottom: 1px solid #ddd;
  }
  
}
 </style>